<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="container" style="margin-top: 20px;">

    <!-- <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %> -->

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <div class="card">
        <div class="card-header">
            <%include ../tabmenu/menu %>
            <ul class="nav nav-pills w-100">
                <li class="nav-link">Accounts</li>
                <li class="nav-link ml-auto"> 
                    <a href="../data %>" class="btn btn-success">list Tag</a>
                    <a href="/data/accounts" class="btn btn-success">Accounts</a>
                    <a href="/data/listfarm" class="btn btn-success">Accounts</a>
                    <a href="/data/logout" class="btn btn-info">Sign out</a>
                </li> 
            </ul>
        </div>
        <div class="card-header">
            <li class="nav nav-pills w-100"> 
                <a href="/data/createaccount" class="btn btn-info">Create account</a>
            </li>
        </div>
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">username</th>
                            <th scope="col">role</th>
                            <th scope="col"></th>

                            <!-- <th width="400px"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <th scope="row"><%= data[i].username %></th>
                                <%if(data[i].priority) {%> 
                                <td> Admin </td>
                                <%} else {%> 
                                <td> Keeper </td>
                                <%} %> 
                                <td>
                                   
                                    <a href="../data/deleteacc?username=<%= data[i].username %>" onclick="return confirm('Are you sure?')" class="btn btn-danger delete">Delete</a>                                </td>

                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <!-- if result is empty -->
            <% if(!data.length) { %>
                <p class="text-center">No TagNFC found!</p>
            <% } %>
        </div>
    </div>

</body>
</html>