<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tagpackaging</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="container" style="margin-top: 20px;">

    <!-- <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %> -->

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <div class="card">
        <div class="card-header">
            <%include ../tabmenu/menu %>
            <ul class="nav-link">List TagNFC</ul>
        </div>
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">UID</th>
                            <th scope="col">Pack ID ปัจจุบัน</th>
                            
                            <!-- <th width="400px"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <th scope="row"><%= data[i].uid %></th>
                                <td><%= data[i].pack_id_temp %></td>
                                
                                <td>
                                    <a href="../data/packagetagoption?uid=<%= data[i].uid%>" class="btn btn-success edit">Checks </a>
                                    <a href="../data/deletepack?uid=<%= data[i].uid %>" onclick="return confirm('Are you sure?')" class="btn btn-danger delete">Delete</a>                                </td>

                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <!-- if result is empty -->
            <% if(!data.length) { %>
                <p class="text-center">No TagNFC found!</p>
            <% } %>
        </div>
    </div>

</body>
</html>