<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container" style="margin-top: 50px;">

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-link">pack id <%= pack_id %> </li>
                <li class="nav-link ml-auto">
                    <a href="/data/packagetagoption?uid=<%= uid %>" class="btn btn-info">Back</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form action="/data/updata?uid=<%= uid %>&pack_id=<%= pack_id %>" method="post">
                <div class="form-group">                    
                    เลือกสถานะ:<br><br>
                    <input type="radio" id="choice1" name="reason" value="1" >
                    <label for="choice1"> กำลังบรรจุปู </label><br>
                    <input type="radio" id="choice2" name="reason" value="2" >
                    <label for="choice2"> กำลังนำส่งปู </label> <br>
                    <input type="radio" id="other" name="reason" value="0">
                    <label for="other">Other <input type="text" name="updatetxt" /> </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="บันทึก">
                </div>
            </form>
        </div>
        
    </div>

</body>
</html>