<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pack Tag</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container" style="margin-top: 20px;">

    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    

    <div class="card">
        <div class="card-header">
            <%include ../tabmenu/menu %>
            <ul class="nav-link">Package Tag<br>UID :<%= uid %></ul>
        </div>
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col"></th>
                            <th scope="col"></th>
                            
                            <!-- <th width="400px"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                            
                    <!-- <th scope="col">#</th> -->
                    <tr>
                        <th scope="row">Package ID</th>
                        <th ><%= data[0].pack_id %></th>
                    </tr>
                    <tr>
                        <th scope="row">UID tag </th>
                        <td><%= data[0].uid %></td>
                    </tr>
                    <tr>
                        <th scope="row">วันที่ลอกคราบ </th>
                        <td>
                            <form action="/data/editmoltdate?pack_id=<%= data[0].pack_id %>" method="post">
                                <div class="form-grup">
                                    <input type="date" style="width: 300px;" class="form-control" id="molt_date" name="molt_date" value="<%= moment(data[0].molt_date).format('YYYY-MM-DD'); %>" autocomplete="off">      
                                    <input type="submit"  onclick="return confirm('Are you sure?')" class="btn btn-link" value="บันทึก">
                                </div>
                            </form>    
                        </td>
                        
                    </tr>
                    

                    <% if (data[0].finish_date != null){ %>
                    <tr>
                        <th scope="row">Finish date</th>
                        <td><%= moment(data[0].finish_date).format('Do MMMM, YYYY'); %></td>
                    </tr>
                    <% } %>
                    <tr>
                        <th scope="row">สถานที่เลี้ยง</th>
                        <td>
                            <form action="/data/editplace?pack_id=<%= data[0].pack_id %>" method="post">
                                <div class="form-grup">
                                    <input type="text" style="width: 300px;" class="form-control" id="place" name="place" value="<%= data[0].place %>" autocomplete="off">      
                                    <input type="submit"  onclick="return confirm('Are you sure?')" class="btn btn-link" value="บันทึก">
                                </div>
                            </form>    
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">จำนวนปู</th>
                        
                        <td>
                            <form action="/data/editamount?pack_id=<%= data[0].pack_id %>" method="post">
                                <div class="form-grup">
                                    <input type="number" style="width: 100px;" class="form-control" id="amount" name="amount" value="<%= data[0].amount_crab %>" autocomplete="off">      
                                    <input type="submit"  onclick="return confirm('Are you sure?')" class="btn btn-link" value="บันทึก">
                                </div>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">น้ำหนัก</th>
                        
                        <td>
                            <form action="/data/editweight?pack_id=<%= data[0].pack_id %>" method="post">
                                <div class="form-grup">
                                    <input type="number" style="width: 100px;" class="form-control" id="weight" name="weight" value="<%= data[0].weight %>" autocomplete="off">      
                                    <input type="submit"  onclick="return confirm('Are you sure?')" class="btn btn-link" value="บันทึก">
                                </div>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">status</th>
                        <td>
                            <% for(i=0;i< data_up.length; i++) {%>
                            <a style="color: red" href="/data/deleteupstatus?num=<%= data_up[i].num %>" onclick="return confirm('Are you sure?')">  ลบ </a>
                            <%= moment(data_up[i].timestamp).format("HH:mm:ss "+"...."+" Do-MMMM-YYYY ") %> -- <%=data_up[i].update_pack %>
                            
                            <br>
                            <% } %>
    
                        </td>
                    </tr>


                    <!-- <th width="400px"></th> -->
                    
                    </tbody>                                                                                                                                              
               </table>
            <% } %>

            <!-- if result is empty -->
            <% if(!data.length) { %>
                <p class="text-center">No Order found!</p>
            <% } %>
            <ul class="nav nav-pills w-100">
                <li class="nav-link">
                    <a href="../packagetagoption?uid=<%= data[0].uid %>" onclick="return" class="btn btn-success ">เสร็จสิ้น</a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>